:root {
  --background: white;
  --color: 76, 99, 119;
  --text: #4a4a4a;
}

html {
  font-size: 2em;
  padding: 5vh 5vw;
  line-height: 1.6;
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  word-wrap: break-word;
  word-break: break-word;
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  color: rgba(var(--color), 0.9);
}

a,
hr,
strong {
  color: rgba(var(--color), 1);
}

a {
  text-decoration: none;
  border-bottom: 2px dashed rgba(var(--color), 1);
}

a:hover {
  background: rgba(var(--color), 0.2);
  border-bottom: 2px solid rgba(var(--color), 1);
}

.flex {
  display: flex;
  justify-content: space-between;
}

blockquote,
pre {
  background: rgba(var(--color), 0.2);
  padding: 0 0.5em;
  margin-left: 0;
  margin-right: 0;
  text-wrap: balance;
}

blockquote {
  border-left: 4px solid rgba(var(--color), 0.6);
  font-style: italic;
}

img {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
}

footer {
  margin-top: 2em;
  text-align: center;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5em;
  border-bottom: 1px solid rgba(var(--color), 0.2);
}

@media (width >= 80rem) {
  html {
    font-size: 1.2em;
    padding: 10vh 20vw;
  }

  ol,
  li {
    margin-left: -0.5em;
  }

  footer {
    text-align: left;
  }

  aside {
    float: right;
  }
}
