<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><rect width='32' height='32' fill='white'/><text x='4' y='22' font-size='14'>NW</text></svg>">
  <script src="/main.js"></script> 
</head>
<body>
<button onclick="switchTheme()" id="theme-switcher">☀️</button>
{{ content }}
{{ function renderSection(pages = []) }}
  {{ if pages.length == 0 }}
  <p>Nothing here...</p>
  {{ /if }}
  <ul>
  {{ for page of pages.sort((a, b) => {
      if (b.pinned || false) return 1;
      if (a.pinned || false) return -1;
      return new Date(b.date) - new Date(a.date);
    }) }}
    <li>
      <a class="flex" href="{{ page.url }}"><span>{{ page.title || page.basename }}</span> <span>{{ page.date?.toLocaleDateString() || "Not defined"}} </span></a>
    </li>
  {{ /for }}
  </ul> 
{{ /function }}

  <section>
    <strong>Posts</strong>
    {{ renderSection(search.pages("type='post'")) }} 
  </section>

  <section class="hidden">
  <strong>Monthly</strong>
  {{ renderSection(search.pages("category='monthly'")) }}
  </section>

  <section class="hidden">
  <strong>Journal</strong>
  {{ renderSection(search.pages("category='daily'")) }}
  </section>

<footer>
  <hr />
  <small>
   {{G.index_footer}}
  <aside>
    <a href="{{G.cv}}" target="_blank">CV</a> |
    <a href="{{G.mail}}"> Mail </a> |
    <a href="{{G.github}}" target="_blank">Github</a> |
    <a href="{{G.x}}" target="_blank">X</a>
  </aside>
  </small>
</footer>
</body>
</html>