<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><rect width='32' height='32' fill='white'/><text x='4' y='22' font-size='14'>NW</text></svg>">
</head>
<body>
  <header>
    <a href="/" alt="Go home">⌂</a>
  </header>
  <h1>{{ basename }} </h1>
  {{ content }}
  
  <footer>
  <hr />
  <small>
  {{date.toLocaleDateString()}} © 2025 Nonwiz. No rights reserved. CC0.
  <aside>
    <a href="mailto:7pih2pydf@mozmail.com"> Mail </a> |
    <a href="https://github.com/nonwiz" target="_blank">Github</a> |
    <a href="https://x.com/itsNonwiz" target="_blank">X</a>
  </aside>
  </small>
  </footer>
</body>
</html>
