<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><rect width='32' height='32' fill='white'/><text x='4' y='22' font-size='14'>NW</text></svg>">
  <script src="/main.js"></script> 
</head>
<body>
<header>
  <button onclick="switchTheme()" id="theme-switcher">☀️</button>
</header>
<h1>{{ basename }} </h1>
{{ content }}
  <footer>
  <a href="/" alt="Go home">⌂</a>
  <hr />
  <small>
  {{date.toLocaleDateString()}} © 2025 Nonwiz. No rights reserved. CC0.
  <aside>
    <a href="{{G.cv}}" target="_blank">CV</a> |
    <a href="{{G.mail}}"> Mail </a> |
    <a href="{{G.github}}" target="_blank">Github</a> |
    <a href="{{G.x}}" target="_blank">X</a>
  </aside>
  </small>
  </footer>
</body>
</html>
