<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title || basename }}</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><rect width='32' height='32' fill='white'/><text x='4' y='22' font-size='14'>សិទ្ធិ</text></svg>">
  <script src="/main.js"></script>
</head>
<body>
<header class="flex">
    <a href="/" alt="Go back">🏡</a>
    <button onclick="switchTheme()" id="theme-switcher">☀️</button>
</header>
<h1>{{ basename }} </h1>
{{ content }}
  <a href="/" alt="Go back">← back</a>
  <footer>
  <hr />
  <small>
  {{date.toLocaleDateString()}} {{G.post_footer}}
  <aside>
    <a href="{{G.mail}}"> Mail </a> |
    <a href="{{G.github}}" target="_blank">Github</a> |
    <a href="{{G.x}}" target="_blank">X</a>
  </aside>
  </small>
  </footer>
</body>
</html>
