<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ url }}"/>
    <meta property="og:title" content="{{ title or site.title }}"/>
    <meta property="og:description" content="{{ description or site.description }}"/>
    <meta property="og:image" content="https://picsum.photos/800/600"/>

    <meta property="twitter:card" content="{{ description or site.description }}"/>
    <meta property="twitter:url" content="{{ url }}"/>
    <meta property="twitter:title" content="{{ title or site.titlte}}"/>
    <meta property="twitter:description" content="{{ description or site.description}}"/>
    <meta property="twitter:image" content="https://picsum.photos/800/600"/>

    <link rel="stylesheet" href="/styles.css">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site.title }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ site.title }}">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin/>
    <link rel="icon" type="image/x-icon" href="/img/avatar.png">
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons&display=swap"
      rel="stylesheet"/>
    <script async src="https://analytics.umami.is/script.js" data-website-id="f15812f6-817e-45c8-aa53-84bf8eb74ccf" data-domains="nonwiz.dev,nonwiz.netlify.app"></script>
    {# <script type="module" src="https://unpkg.com/ninja-keys?module"></script> #}
    <script type="module" src="https://unpkg.com/lit-html@2.8.0/lit-html.js?module"></script>

  </head>
  <body>
    <button onclick="browse('/')">
     ⌂
    </button>
    {# <button data-umami-event="cmd" class="cmd" onclick="openCmd()">
      <span>
            ⌘
          <span> + K</span>
      </button>
      <i>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-up-left"><polyline points="9 14 4 9 9 4"/><path d="M20 20v-7a4 4 0 0 0-4-4H4"/></svg>
        </span>
        <span>click this</span>
      </i> #}

    </nav>

    <main>
      {{ content | safe }}
    </main>

    <ninja-keys placeholder="Find anything"></ninja-keys>

    <script>

      function browse(url) {
        window.location.href = url;
      }

      const hotkeys = [
        {
          id: "Home",
          title: "Home",
          mdIcon: "home",
          hotkey: "shift+h",
          handler: () => {
            browse("/")
          }
        }, {
          id: "Open Posts",
          title: "All posts",
          hotkey: "shift+a",
          mdIcon: "apps",
          handler: () => {
            browse("/posts")
          }
        }, {
          id: "All tags",
          title: "All tags",
          hotkey: "shift+t",
          mdIcon: "category",
          handler: () => {
            browse("/tags")
          }
        }, {
          id: "About me",
          title: "About me",
          mdIcon: "person",
          hotkey: "shift+m",
          handler: () => {
            browse("/about")
          }
        }, {
          id: "Collection",
          title: "Collection / Portfolio",
          hotkey: "shift+c",
          mdIcon: "work",
          handler: () => {
            window.open("https://read.cv/nonwiz", "_blank")
          }
        }
      ];

      {% set posts = [] %}
      {% for post in search.pages("pinned=true") %}
        {% set posts = (posts.push({url: post.data.url, title: post.data.title}), posts) %}
      {% endfor %}
      try {
        const cleanedPosts = `{{ posts | dump }}`.replaceAll(/&quot;/g, '"');
        const pins = JSON.parse(cleanedPosts);
        const parent = {
          id: 'Pinned',
          title: "Pinned posts",
          mdIcon: "attachment",
          hotkey: "shift+p",
          children: [],
          handler: () => { 
            ninja.open({parent: "Pinned"});
            return { keepOpen: true }
          }
        }
        const temp = []
        pins.forEach((item, index) => {
          parent.children.push({
            id: item.title,
            hotkey: `shift+${index}`,
            title: item.title,
            mdIcon: "star",
            handler: () => browse(item.url)
          });
        });
        hotkeys.push(parent);

      } catch (e) {
        console.log("error parsing pinned posts", e)
      }

      function findSentenceWithTerm(content, term) {
        var sentences = content.split('. ');
        for (var i = 0; i < sentences.length; i++) {
          if (sentences[i].toLowerCase().includes(term.toLowerCase())) {
            return sentences[i].slice(0, 100);
          }
        }
        return null;
      }

      const search = async (searchTerm) => {
        const pagefind = await import ("/pagefind/pagefind.js");
        const results = await pagefind.debouncedSearch(searchTerm);
        return results;
      };

      const ninja = document.querySelector("ninja-keys");

      function openCmd() {
        ninja.open();
      }

      ninja.data = hotkeys;
      ninja.addEventListener('change', async (event) => {

        const {search: term} = event.detail;
        await search(term).then(async (found) => {
          const {
            results = []
          } = found || {};
          console.log({found});
          const data = await Promise.all(results.slice(0, 5).map(r => r.data()));
          console.log({data})
          const parsedData = data
            .map((d, index) => ({
              id: d.url,
              hotkey: `shift+${index}`,
              title: d.url + " - " + findSentenceWithTerm(d.content, term),
              mdIcon: "arrow_right",
              handler: () => {
                window.location.href = d.url;
              }
            }))
            .filter(d => d.title != null)

          ninja.data = [
            ...parsedData,
            ...hotkeys
          ];
        })
      });
      /*
      // uncomment below to allow voice recognition - open search || close search
      window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
      const recognition = new SpeechRecognition();
      recognition.interimResults = true;

      recognition.addEventListener('result', e => {
      const transcript = [...e.results]
        .map(result => result[0])
        .map(result => result.transcript)
        .join('');
      console.log(e.results, e.results[0]);

      if (transcript.includes('open search')) {
        ninja.open();
      }

      if (transcript.includes('close search')) {
        ninja.close();
      }
      })

      recognition.addEventListener('end', recognition.start);
      recognition.start(); */
    </script>
  </body>
</html>