---
layout: layouts/base.njk
---

{{ content | safe }}

{% set latestPosts = search.pages("type=posts", "date=desc", 3) %}
{% set pinnedPosts = search.pages("pinned=true") %}

<hr/>
<footer>
    <h3>Note: </h3>
    <ul>

        <li>
            Pinned posts:
            {% for item in pinnedPosts %} <a href="{{ item.data.url }}"> {{ item.data.title }}{% if loop.last %}{% else %},{% endif %}</a>{% endfor %}
        </li>
        <li>
          Latest posts: 
          {% for item in latestPosts %}
                <a href="{{ item.data.url }}"> {{ item.data.title }}{% if loop.last %} {% else %}, {% endif %} </a>
            {% endfor %}
        </li>

        <li>Main places for: <a href="/posts">all posts</a> and <a href="/tags">all tags</a>.</li>
        <li>URL: {{ url }}</li>
        <li>By: Broset </li>
        <li>Connect: 
            <a href="mailto:bdchanbroset@gmail.com">Gmail</a>,
            <a href="https://read.cv/nonwiz" target="_blank">Read.cv</a>,
            <a href="https://twitter.com/NonWiz0" target="_blank">Twitter</a>,
            <a href="https://github.com/nonwiz" target="_blank">Github</a>
        </li>
        <li>Updated: Aug 13, 2023</li>
    </ul>
</footer>